/* You can add global styles to this file, and also import other style files */


.SPADE {
  background-image: url('/assets/spade.svg');
}

.CLUB {
  background-image: url('/assets/club.svg');
}

.HEART {
  background-image: url('/assets/heart.svg');
}

.DIAMOND {
  background-image: url('/assets/diamond.svg');
}

.black {
  color: black;
}

.red {
  color: red;
}
